.build-cache
.commitlintrc.json
.dockerignore
.editorconfig
.env
.git
.gitattributes
.gitignore
.history
.npmrc
.prettierignore
.prettierrc
.vscode
*.log
*.md
build/
default.code-workspace
dist/
docker-build.bash
docker-compose.yml
Dockerfile
Dockerfile.service
jest.config.js
node_modules
update-db-init-files.sh
